body{
  font-family: 'Roboto', Helvetica, Verdana;
}
#seccion_inicio{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/48/c4/72/48c472edf8672cf11b59d3a10481340b.jpg');
  color:white;
  padding-top: 100px;
  padding-bottom: 100px;
}

#seccion_inicio *{
  color: white;
}

#seccion_inicio{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

#cv_foto{
  border-radius: 50%;
}

#seccion_inicio h1{
  font-size: 40px;
  letter-spacing: 15px;
}

#seccion_inicio h2{
  font-weight: bold;
}

#seccion_sobremi{
  margin-top: 50px;
  margin-bottom: 50px;
}

#seccion_sobremi h2{
  color: blue;
}

#seccion_hobbies .glyphicon{
  font-size: 70px;
}

#seccion_inicio *{
  color: white;
}

#seccion_hobbies {
  background-color: #000;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#seccion_hobbies h3{
  text-decoration: underline;
  color: green;
}

#seccion_skills{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: black;
}

#SK{
  background: gray;
  padding: 15px;
  opacity: .5;
}

#seccion_habilidades{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: white;
}



#seccion_social{
    background:#0CD2A4;
    padding: 80px;
}

#seccion_social ul{
  list-style-type: none;
  margin: 0;
}

#seccion_social ul li{
  display: inline;
}

#seccion_social ul li a{
  color: white;
}

#seccion_social ul li a:hover{
  text-decoration: none;
  color: white;
}

#seccion_social ul li a:hover i{
    background: #2D373D;
}

#seccion_social .fa{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin-right: 20px;
}

#seccion_social .fa-twitter{
  padding: 10px 13px;
}

#seccion_social .fa-facebook{
  padding: 10px 20px;
}

#seccion_social .fa-google-plus{
  padding: 10px 13px;
}

#seccion_social .btn{
  border-radius: 50px;
  font-size: 20;
  box-shadow: 0px 2px 5px #787878;
  padding: 20px 40px;

}

#seccion_social .btn:hover{
  background: #4b4b4b;
  color: white;
}


#seccion_social ul li a#facebook{
  width: 200;
}

#seccion_contacto{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: white;
}

#seccion_contacto p{
  font-size: 20px;
}

#seccion_contacto .glyphicon{
  font-size: 40px;
}

#seccion_contacto input,
#seccion_contacto textarea{
  border-bottom: 2px black solid;
}

#seccion_contacto button{
  border-radius: 10px;
  background: aqua;
}

#seccion_copyright{
  text-align: center;
  color: white;
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  padding-top: 10px;
}
